*png
*pdf
*data/
*tests/test_files/
*.idea/
*__pycache__/*
*.pytest_cache/*


# Compiled python
*.pyc
build
dist
.eggs
*.egg-info
.DS_Store

# Vim temp files
*.swp

# Profiler files
*.prof

# pycharm temp files
*~
htmlcov/
.coverage
.idea
